body {
  @media (max-width: $screen-sm-max) {
    font-size: 20px;
    line-height: 1.200;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    line-height: 1.250;
  }
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;


  &:after {
    content: '';
    display: block;
    border-top: 3px solid #dd1a2a;
    margin: 15px auto 0;
    width: 215px;

    @media (max-width: $screen-xs-max) {
      border-top-width: 2px;
      width: 182px;
      margin-top: 12px;
    }
  }

  @media (max-width: $screen-sm-max) {
    font-size: 22px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 18px;
  }
}
hr {
  border-top-width: 3px;
  border-top-color: #dd1a2a !important;
  margin: 15px auto;
  width: 215px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 8px;
  }
  @media (max-width: $screen-xs-max) {
    border-top-width: 2px;
    width: 182px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
p {
  margin-bottom: 1.125em;
}
ul, ol {
  margin-bottom: 1.125em;

  li + li {
    margin-top: 1.167em;

    @media (max-width: $screen-sm-max) {
      margin-top: 1.100em;
    }
  }
}
ul {
  padding-left: 0;
  list-style-image: url("/img/unsorted-list-dot.png");
  list-style-type: none;

  @media (max-width: $screen-xs-max) {
    list-style-image: url("/img/unsorted-list-dot--xs.png");
  }
}