.body_preloader{
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index:1000
    }
    .loading{
        position: fixed;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        background: url(/img/loader.gif) no-repeat center center;
        
    }
}
#editor{
    display: none;
}
.empty_info{
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
    color: #c0c0c0;
}
.information{
    padding-bottom: 20px;
    .block-title{
        position: relative;
    }
    .fa-plus,
    .fa-floppy-o{
        color: #1bbae1;
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
    }
    .last_modified{
        color: #c0c0c0;
        position: absolute;
        right: 20px;
        top: 13px;
    }
}

.photos{
    padding: 0;
    li{
        list-style: none;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        /*padding: 3px;*/
        margin: 10px 5px 10px 0;
/*        width: 115px;
        height: 70px;*/
        width: 155px;
        height: 100px;
        overflow: hidden;
        position: relative;
        border: 1px dashed rgba(0,0,0,0.1);
        border-radius: 4px;
                img{
            width: 100%;
            height: 100%;
        }
        .fa-times-circle{
            position: absolute;
            top: 3px;
            right: 3px;
            z-index: 10;
            color: #fff;
            width: 22px;
            height: 22px;
            cursor: pointer;
            border-radius: 25px;
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            &:hover{
                color: #f00;
            }
        }
        .fa-plus{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            background: rgba(0,0,0,0.1);
            text-align: center;
            line-height: 32px;
            cursor: pointer;
        }
        .kb{
            position: absolute;
            bottom: 0;
            z-index: 20;
            background: rgba(255,255,255,0.8);
            width: 100%;
        }
    }
    .ui-state-highlight{
        background: lightgoldenrodyellow;
        border: 1px dashed rgba(47,47,47,0.2);
    }
}
#add_photo{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 3px;
    width: 115px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border: 1px dashed rgba(0,0,0,0.1);
    
}
#dialogPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: -75px;
    height: 150px;
    background: rgb(241, 243, 246);
    z-index: 5000;
    border-radius: 3px;
    border: 2px solid rgb(219, 225, 232);
}
#popup_message{
/*    display: none;
    height: auto;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 400;
    display: table;
    table-layout: fixed;
    width: 100%;*/
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: -75px;
    min-height: 150px;
    background: rgb(241, 243, 246);
    z-index: 5000;
    border-radius: 3px;
    border: 2px solid rgb(219, 225, 232);
}
#popup_message{
    z-index: 1000000;
}

#popup_message .warning #message,
#popup_message .error #message{
    padding: 70px 20px 40px;
    text-align: center;
}

#popup_message #message .title{
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -20px;
    border-radius: 4px 4px 0 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
#popup_message .warning{

}
#popup_message .warning #message .title{
    background: rgb(255, 181, 7);
}
#popup_message .error{

}
#popup_message .error  #message  .title{
    background: rgb(220, 4, 4);
}
#popup_message .close{
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 4px;
    font-size: 13px;
    color: #000;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
}
.info_buttons {
    width: 100%;
    margin-top: 25px;
    margin-bottom: -20px;
}
.info_buttons > div {
    border: 1px solid #DBE1E8;
    background: #fff;
    padding: 3px 0;

    display: inline-block;
    width: 45%;
    margin: 0 1%;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
}
.info_buttons > div:hover {
    text-decoration: underline;
}
.cover_image_holder{
    position: relative;
    .kb{
        position: absolute;
        bottom: 0;
        z-index: 20;
        background: rgba(255,255,255,0.8);
        width: 100%;
    }
}
.inputPrice{
    width: 60px;
    max-width: 60px;
}

li.hasErrors {
    a{
        color: #fff;
        background: rgba(255, 0, 0, 0.6);
        border-radius: 4px 4px 0 0;
        box-sizing: border-box;
        &:hover{
            background-color: rgba(255, 0, 0, 0.8);
            color: #fff;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }
    }
}

.discounts-grid{
    .ui-state-highlight{
        border: 1px dashed rgba(47,47,47,0.2);
        td{
            background: lightgoldenrodyellow;    
        }
    }
}

.input-group[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}

input[type=checkbox]{
    margin: 0;
    width: 40%;
}

.sortable_quest{
    height: 235px;
    width: 400px;
    display: inline-block;
    margin: 5px 13px;
    &.ui-state-highlight{
        border: 1px dashed rgba(47,47,47,0.3);
        background: lightyellow;
    }
}