.col-white-border {
    border: 1px solid rgba(255,255,255,.5);
}
.col-padding {
    padding: 0 15px 30px;
}
@media (max-width: 991px) and (min-width: 768px){
    body.inner .container {
        width: 770px; 
   }
}
body.inner .jumbotron-serv {
    background-image: url(../img/serv_bgr.jpg);
    background-repeat: no-repeat;
    padding-bottom: 41px;
    background-size: cover;
    background-position: 50%;
    h1 {
        padding-top: 46px;
    }
    p.lead-p {
        max-width: 950px;
        margin: 0 auto;
        line-height: 1.33em;
        color: #b4cce9;
        padding-bottom: 84px;
        &:after {
            display: none;
        }
    }
    small {
        font-weight: 300;
        font-size: 16px;
        color:#7a7d8c;
        max-width: 600px;
        display: block;
        max-width: 600px;
        margin: 0 auto 33px;
    }
    .btn-blur {
        font-size: 18px;
        background-color: transparent;
        color: #6fdefa;
        border-radius: 2px;
        border: 1px solid #6fdefa;
        margin: 0 7px;
        padding: 16px 26px;
        &:hover, &:focus {
            color: #fff;
            border-color: #fff;
            background-color: rgba(255,255,255,.1);
        }
        @media (max-width: $screen-sm-max){
            font-size: 15px;
            padding: 15px 20px;
            margin: 0 5px;
        }
        @media (max-width: 480px){
            font-size: 12px;
            padding: 14px;
            margin: 0;
        }
    }
    .list-inline > li.active .btn-blur{
        background: rgba(255,255,255,0.1);
        border-color: #fff;
        color: #fff;
    } 
}
.row-serv {
    background-image: url(../img/serv_bgr_bottom.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #222454;
    h2 {
        text-transform: uppercase;
        font-size: 45px;
        color:#fff;
        font-family: "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 45px;
        small{
            position: absolute;
            left: -40px;
            top: 50px;
            font-size: 21px;
        }
    }
    .lead{
        font-size: 20px;
        font-weight: 300;
        color:#b4cce9;
        max-width: 400px;
        font-family: Circe;
        line-height: 1.15em;
        margin: 34px auto;
    }
    p{
        font-size: 14px;
        line-height: 22px;
    }
    .lead-atraction {
        font-size: 20px;
    }
    .row-birmove, .row-blic, .row-teambuilding{
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #222454;
        padding-bottom: 40px;
        background-position: 50%;
    }
    .row-teambuilding{
        background-image: url(../img/serv_cove1.jpg);
    }
    .row-birmove{
        background-image: url(../img/serv_cove2.jpg);
    }
    .row-blic{
        background-image: url(../img/serv_cove3.jpg);
    }
    .row-atraction .btn-blur{
        background: transparent;
        border: 1px solid rgba(255,255,255,0.4);
        transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    .row-darkblue .img-responsive{
        display: inline-block;
    }
}
.row-table {
    font-size: 14px;
    font-family: Circe;
    .table-bordered {
        width: 100%;
        &>tbody>tr>td {
            border-color: rgb(212,212,212);
        }
    }
    .table>tbody>tr>td {
        padding: 7px 12px;
        p {
            margin: 0;
            padding-left: 25px;
            padding-top: 2px;
            position: relative;
        }
    }
    i.icon {
        font-size: 20px;
        color: rgba(255,255,255,.5);
        position: absolute;
        top: 0;
        left: 0;
        &.icon-pointsm, &.icon-packman {
            top:2px;
        }
    }
    a {
        color: #53ceeb;
    }
}
.two-column {
    margin-bottom: 37px;
    margin-top: 5px;
    @media (min-width: 768px){
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}
.serv-list-item {
    font-family: Circe;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 11px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    span {
        width:33px;
        margin-right: -33px;
        display: block;
        float: left;
    }
    p {
        display: block;
        padding-left: 33px;
    }
    a {
        color: #53ceeb;
    }
}

.row-darkblue {
    background-color: #171729;
}
#services .table-bordered tr:first-child ,
#events .table-bordered tr:first-child {
    height: 55px;
}
#services .table-bordered tr:last-child ,
#events .table-bordered tr:last-child {
    height: 80px;
}
span.thePrice{
    float: none;
    display: inline-block;
    margin: 0;
    width: initial;
}
