// Bootstrap:Colors
$brand-warning: #ffdf43;
$brand-danger: #d21926;

// Bootstrap:Form states and alerts
$state-danger-text: #d21926;

// Bootstrap:Scaffolding
$text-color: #fff;

// Bootstrap:Typography
$font-family-sans-serif: 'Eurofurence', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;

$headings-font-family: 'Raleway', sans-serif;

$font-size-h1: 28px;
$font-size-h2: 28px;
$font-size-h3: 25px;
$font-size-h4: 18px;

$font-size-base: 24px;
$line-height-base: 1.083;

$font-size-secondary: 14px;
$line-height-secondary: 1.429;


// Bootstrap:Buttons
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-warning-color: #000;
$btn-default-color: #fff;
$btn-default-bg: transparent;
$btn-default-border: #fff;

$btn-font-size-default: 14px;
$btn-line-height-default: 1.429;

$btn-font-size-lg: 10px;
$btn-line-height-lg: 1.2;




