@font-face {
  font-family: "Raleway";
  src: url("raleway/RalewayRegular/RalewayRegular.eot");
  src: url("raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),
    url("raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("raleway/RalewayBold/RalewayBold.eot");
  src: url("raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"),
    url("raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; /* Bold */
}
@font-face {
  font-family: "Raleway";
  src: url("raleway/RalewayMedium/RalewayMedium.eot");
  src: url("raleway/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"),
  url("raleway/RalewayMedium/RalewayMedium.woff") format("woff"),
  url("raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: "Eurofurence";
  src: url("eurofurence/EurofurenceRegular/EurofurenceRegular.eot");
  src: url("eurofurence/EurofurenceRegular/EurofurenceRegular.eot?#iefix") format("embedded-opentype"),
    url("eurofurence/EurofurenceRegular/EurofurenceRegular.woff") format("woff"),
    url("eurofurence/EurofurenceRegular/EurofurenceRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "glyphicon";
  src: url("bootstrap/glyphicons-halflings-regular.eot");
  src: url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
    url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
    url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
    url("bootstrap/glyphicons-halflings-regular.svg#Roboto") format("svg");
}


/*@font-face {*/
  /*font-family: "Roboto";*/
  /*src: url("Roboto/Roboto-Regular.eot");*/
  /*!* IE9 *!*/
  /*src: url("Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), !* IE6-IE8 *!*/
    /*url("Roboto/Roboto-Regular.woff") format("woff"), !* chrome, firefox *!*/
    /*url("Roboto/Roboto-Regular.ttf") format("truetype"), !* chrome, firefox, opera, Safari, Android, iOS 4.2+ *!*/
    /*url("Roboto/Roboto-Regular.svg#Roboto") format("svg");*/
  /*!* iOS 4.1- *!*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
/*}*/
/*@font-face {*/
  /*font-family: "Rouble";*/
  /*src: url("RoubleArial/RoubleArial-Regular.eot");*/
  /*!* IE9 *!*/
  /*src: url("RoubleArial/RoubleArial-Regular.eot?#iefix") format("embedded-opentype"), !* IE6-IE8 *!*/
    /*url("RoubleArial/RoubleArial-Regular.woff") format("woff"), !* chrome, firefox *!*/
    /*url("RoubleArial/RoubleArial-Regular.ttf") format("truetype"), !* chrome, firefox, opera, Safari, Android, iOS 4.2+ *!*/
    /*url("RoubleArial/RoubleArial-Regular.svg#RoubleArial") format("svg");*/
  /*!* iOS 4.1- *!*/
  /*font-style: normal;*/
  /*font-weight: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: "Rouble";*/
  /*src: url("RoubleArial/RoubleArial-Bold.eot");*/
  /*!* IE9 *!*/
  /*src: url("RoubleArial/RoubleArial-Bold.eot?#iefix") format("embedded-opentype"), !* IE6-IE8 *!*/
    /*url("RoubleArial/RoubleArial-Bold.woff") format("woff"), !* chrome, firefox *!*/
    /*url("RoubleArial/RoubleArial-Bold.ttf") format("truetype"), !* chrome, firefox, opera, Safari, Android, iOS 4.2+ *!*/
    /*url("RoubleArial/RoubleArial-Bold.svg#RoubleArial") format("svg");*/
  /*!* iOS 4.1- *!*/
  /*font-style: normal;*/
  /*font-weight: bold;*/
/*}*/