.btn {
  text-transform: uppercase;
  font-size: $btn-font-size-default;
  line-height: $btn-line-height-default;
  font-family: $font-family-secondary;
  transition: .25s ease-in-out;
  transition-property: background-color, box-shadow, border-color;

  &:hover {
    border-color: #fff;
    box-shadow: 0 0 13px #fff;
  }



  &-lg {
    font-size: $btn-font-size-lg;
    line-height: $btn-line-height-lg;
    font-weight: bold;

    @media (min-width: $screen-sm-min) {
      font-size: 12px;
      line-height: 18px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &.disabled,
  &[disabled] {
    opacity: .2;
  }
}