.carousel {
  &-indicators {
    width: auto;
    right: 44px;
    bottom: 0;
    margin-bottom: 35px;
    left: auto;
    margin-left: auto;

    @media (max-width: $screen-xs-max) {
      bottom: auto;
      top: 324px;
      right: 20px;
    }

    li {
      background-color: #979797;
      border: none;
      width: 15px;
      height: 15px;
      margin: 0 3px;
      @media (max-width: $screen-xs-max) {
        width: 10px;
        height: 10px;
        margin: 0 2px;
      }
    }

    .active {
      margin: 0 3px;
      width: 15px;
      height: 15px;
      background-color: $brand-danger;
      @media (max-width: $screen-xs-max) {
        width: 10px;
        height: 10px;
        margin: 0 2px;
      }
    }
  }
}