.contact-list {
  font-family: $font-family-secondary;
  font-size: 20px;
  line-height: 1.450;
  &__ico {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
  }
  &__info {
    display: table-cell;
    vertical-align: middle;
    padding-left: 22px;
  }
  li + li {
    margin-top: 2.150em;
  }
  small, .small {
    font-size: 0.700em;
    margin-top: 0.5em;
  }
}