.dropdown {
  font-family: $font-family-secondary;

  .caret {
    margin-left: 4px;
    position: relative;
    top: 6px;
    border-width: 8px;
  }

  &-menu {
    list-style-type: none;
    min-width: 105px;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    background-color: #353535;
    border: none;
    border-radius: 0px;
    font-size: 12px;


    li {
      list-style-image: none;
      padding-left: 10px;
      padding-right: 10px;

      &:hover {
        background-color: darken(#353535, 5%);
      }
      a {
        color: #fff;
        padding: 0;
        &:hover {
          color: #fff;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
    li + li {
      margin-top: 0.333em;
    }
  }
}