.gift-card {
  @media (max-width: $screen-sm-max) {
    margin-top: 40px;
    padding-bottom: 16px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 15px;
    padding-bottom: 24px;
  }

  &__img {
    margin-bottom: 28px;
  }

  &__price {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 34px;
    vertical-align: middle;

    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 32px;
    }
  }

  .btn-danger {
    min-width: 140px;
    font-weight: normal;

    @media (max-width: $screen-sm-max) {
      margin-left: 18px;
    }
  }
}