.ico {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  vertical-align: baseline;
  background-position: center;
  background-repeat: no-repeat;
  @include retina {
    background-size: cover;
  }


  &:after {
    content: '\a0';
  }

  &--large {
    width: 34px;
    height: 34px;
    line-height: 34px;
  }

  &--extralarge {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }

  &-escape {
    background-image: url("/img/icons/escape-rooms.png");
    @include retina {
      background-image: url("/img/icons/escape-rooms@2x.png");
    }
  }
  &-escape-rooms_large {
    background-image: url("/img/icons/escape-rooms_large.png");
    @include retina {
      background-image: url("/img/icons/escape-rooms_large@2x.png");
    }
  }
  &-action {
    background-image: url("/img/icons/action.png");
    @include retina {
      background-image: url("/img/icons/action@2x.png");
    }
    &.ico--extralarge {
      background-image: url("/img/icons/action-large.png");
      @include retina {
        background-image: url("/img/icons/action-large@2x.png");
      }
    }
  }
  &-vr {
    background-image: url("/img/icons/vr-quest.png");
    @include retina {
      background-image: url("/img/icons/vr-quest@2x.png");
    }
  }
  &-shedule {
    background-image: url("/img/icons/shedule.png");
    @include retina {
      background-image: url("/img/icons/shedule@2x.png");
    }
  }
  &-gift_cards {
    background-image: url("/img/icons/gift-cards.png");
    @include retina {
      background-image: url("/img/icons/gift-cards@2x.png");
    }
  }
  &-corporatives {
    background-image: url("/img/icons/corporatives.png");
    @include retina {
      background-image: url("/img/icons/corporatives@2x.png");
    }
  }
  &-contacts {
    background-image: url("/img/icons/contacts.png");
    @include retina {
      background-image: url("/img/icons/contacts@2x.png");
    }
  }
  &-flag_ru {
    background-image: url("/img/icons/ru.png");
    @include retina {
      background-image: url("/img/icons/ru@2x.png");
    }
  }
  &-facebook {
    background-image: url("/img/icons/facebook.png");
    @include retina {
      background-image: url("/img/icons/facebook@2x.png");
    }
  }
  &-youtube {
    background-image: url("/img/icons/youtube.png");
    @include retina {
      background-image: url("/img/icons/youtube@2x.png");
    }
  }
  &-instagram {
    background-image: url("/img/icons/instagram.png");
    @include retina {
      background-image: url("/img/icons/instagram@2x.png");
    }
  }
  &-triangle_large {
    background-image: url("/img/icons/triangle_large.png");
    @include retina {
      background-image: url("/img/icons/triangle_large@2x.png");
    }
  }
  &-time {
    background-image: url("/img/icons/time.png");
    @include retina {
      background-image: url("/img/icons/time@2x.png");
    }
    &.ico--extralarge {
      background-image: url("/img/icons/time-large.png");
      @include retina {
        background-image: url("/img/icons/time-large@2x.png");
      }
    }
  }
  &-user {
    background-image: url("/img/icons/user.png");
    @include retina {
      background-image: url("/img/icons/user@2x.png");
    }
    &.ico--extralarge {
      background-image: url("/img/icons/user-large.png");
      @include retina {
        background-image: url("/img/icons/user-large@2x.png");
      }
    }
  }
  &-difficulty {
    background-image: url("/img/icons/difficulty.png");
    @include retina {
      background-image: url("/img/icons/difficulty@2x.png");
    }
    &.ico--extralarge {
      background-image: url("/img/icons/difficulty-large.png");
      @include retina {
        background-image: url("/img/icons/difficulty-large@2x.png");
      }
    }
  }
  &-mobile-menu  {
    background-image: url("/img/icons/mobile-menu.png");
    @include retina {
      background-image: url("/img/icons/mobile-menu@2x.png");
    }
  }
  &-age18  {
    background-image: url("/img/icons/age-18+.png");
    @include retina {
      background-image: url("/img/icons/age-18+@2x.png");
    }
    &.ico--extralarge {
      background-image: url("/img/icons/age-18+large.png");
      @include retina {
        background-image: url("/img/icons/age-18+large@2x.png");
      }
    }
  }
  &-visa  {
    background-image: url("/img/icons/visa.png");
    @include retina {
      background-image: url("/img/icons/visa@2x.png");
    }
  }
  &-master-card  {
    background-image: url("/img/icons/master-card.png");
    @include retina {
      background-image: url("/img/icons/master-card@2x.png");
    }
  }
  &-euro  {
    background-image: url("/img/icons/euro.png");
    @include retina {
      background-image: url("/img/icons/euro@2x.png");
    }
  }
  &-dot  {
    background-image: url("/img/icons/page-rules-dot.png");
    @include retina {
      background-image: url("/img/icons/page-rules-dot@2x.png");
    }
  }
  &-esp-flag  {
    background-image: url("/img/icons/esp-flag.png");
    @include retina {
      background-image: url("/img/icons/esp-flag@2x.png");
    }
  }
  &-cat-flag  {
    background-image: url("/img/icons/cat-flag.png");
    @include retina {
      background-image: url("/img/icons/cat-flag@2x.png");
    }
  }
  &-fra-flag  {
    background-image: url("/img/icons/fra-flag.png");
    @include retina {
      background-image: url("/img/icons/fra-flag@2x.png");
    }
  }
  &-eng-flag  {
    background-image: url("/img/icons/eng-flag.png");
    @include retina {
      background-image: url("/img/icons/eng-flag@2x.png");
    }
  }
  &-menu-close  {
    background-image: url("/img/icons/menu-close.png");
    @include retina {
      background-image: url("/img/icons/menu-close@2x.png");
    }
  }
  &-phone  {
    background-image: url("/img/icons/phone.png");
    @include retina {
      background-image: url("/img/icons/phone@2x.png");
    }
  }
  &-email  {
    background-image: url("/img/icons/email.png");
    @include retina {
      background-image: url("/img/icons/email@2x.png");
    }
  }
  &-anchor {
    height: 66px;
    line-height: 66px;
    background-image: url("/img/icons/anchor.png");
    @include retina {
      background-image: url("/img/icons/anchor@2x.png");
    }
  }
}