.nav-tabs {
  text-align: center;
  border: none;
  margin-top: 28px;
  margin-bottom: 40px;

  @media (max-width: $screen-sm-max) {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 14px;
    margin-bottom: 22px;
  }

  li {
    float: none;
    display: inline-block;
    margin: 0 22px;
    list-style-image: none;

    @media (max-width: $screen-xs-max) {
      margin-left: 10px;
      margin-right: 10px;
    }
    a {
      border: none;
      color: #fff;
      padding: 0;

      &:hover {
        background: none;
      }
      &:after {
        content: '';
        width: 0%;
        height: 3px;
        top: 100%;
        left: 0;
        position: absolute;
        background-color: #d21926;
        -webkit-transition: width 0.25s ease-in-out;
        transition: width 0.25s ease-in-out;
        @media (max-width: $screen-sm-max) {
          height: 2px;
        }
        @media (max-width: $screen-xs-max) {
          height: 1px;
        }
      }
      &:hover:after {
        width: 100%;
      }
    }
    &.active {
      a {
        background: none;
        border: none;
        color: #fff;

        &:hover,
        &:focus {
          color: #fff;
          background: none;
          border: none;
        }
        &:after {
          width: 100%;
        }
      }
    }
  }
}