.nav-calendar {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-md-min) and (max-width: 1100px)  {
    max-width: 960px;
  }
  @media (max-width: $screen-sm-max){
    width: 738px;
  }

  &-wrap {
    @media (max-width: $screen-xs-max){
      overflow: hidden;
    }
    &--wide {
      background-color:  $brand-warning;
      position: relative;
      margin-bottom: 32px;
      @media (min-width: $screen-md-min){
        margin-top: -32px;
      }
    }
  }
  &-inner {
    @media (max-width: $screen-xs-max){
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 20px;
      margin-bottom: -20px;
      -webkit-overflow-scrolling: touch;
    }
  }

  li {
    font-family: $font-family-secondary;
    font-size: $font-size-secondary;
    display: table-cell;
    width: 72px;
    margin: 0;

    a {
      padding: 0;
      color: #979797;

      &:hover,
      &:active,
      &:focus {
        background: none;
      }
    }


    &.active {
      a {
        color: #fff;
        font-weight: bold;
      }
    }
  }
  &__date {
    margin-bottom: 3px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 0px;
    }
    &--wide {
      font-size: 29px;
      font-weight: bold;

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
        font-size: 26px;
      }
    }
  }
  &__week {
    @media (max-width: $screen-sm-max) {
      font-size: 13px;
    }
    &--wide {
      font-size: 13px;
    }
  }
  &__month {
    font-size: 20px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    left: 15px;
    top: 42px;
    width: 200px;
    text-align: center;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
      font-size: 18px;
      width: 110px;
    }
  }
  &__dropdown {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 26px;
    }
    .btn {
      text-align: left;
      font-size: 20px;
      font-weight: normal;
      text-transform: none;

      @media (min-width: $screen-sm-min) {
        padding-bottom: 16px;
        padding-top: 13px;
      }
    }
    .dropdown {

      .caret {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 15px;
      }
      .dropdown-menu {
        left: 0;
        right: 0;
        max-height: 192px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        li {
          padding: 10px 16px;
          font-size: 20px;
        }
        .active {
          display: none;
        }
      }
     }

  }
  &--wide {
    max-width: none;
    padding-left: 200px;
    padding-right: 200px;


    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
      padding-left: 120px;
      padding-right: 180px;
    }

    li {
      padding-top: 11px;
      padding-bottom: 19px;
      width: 1%;

      &:first-child {
        max-width: 200px;
        text-align: center;

      }

      a {
        padding: 0;
        color: #fff;
        border: 2px solid transparent;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 15px;
        max-width: 74px;
        margin-left: auto;
        margin-right: auto;
      }


      &.active {
        a {
          border-color: #000000;
          color: #000000;
        }
      }
    }
  }
}