.quest-thumbnail {
  position: relative;
  padding: 0;
  background: none;
  border: 2px solid transparent;
  border-radius: 2px;
  padding-top: 63.6144578313253%;
  z-index: 0;
  margin-top: 6px;
  margin-bottom: 6px;

  @media (min-width: $screen-lg-min) and (max-width: 1400px) {
    padding-top: 210px;
  }

  &:hover {
    border-color: $brand-warning;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &--full-size {
      @media (max-width: $screen-xs-max) {
        position: relative;
      }
    }
    &--card {
      @media (max-width: $screen-xs-max) {
        position: relative;
      }
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto !important;
      height: auto;
      max-height: none;
      max-width: none;
      min-height: 100.2%;
      min-width: 100.2%;
      transform: translate(-50%, -50%);
    }
    &--full-size {
      @media (max-width: $screen-xs-max) {
        position: relative;
        height: 350px;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 440px;
        background: url("/img/quest-thumbnail-gradient.png") repeat-x;
        bottom: 0;
      }
    }
    &--full-height {
      @media (max-width: $screen-xs-max) {
        height: 410px;
      }
    }
    &--card {
      width: 50%;
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 45%;
      }
      @media (min-width: $screen-lg-min) {
        width: 47%;
      }
      @media (min-width: 1330px) {
        width: 50%;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 37%;
      }
      @media (max-width: $screen-xs-max) {
        height: 140px;
        width: 100%;
        position: relative;
      }
    }
  }
  h3 {
    margin-top: 6px;
    margin-left: 6px;
    font-size: 22px;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }
  p {
    line-height: 1.250;

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
      line-height: 1.250;
    }
  }
  & &__caption {
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;

    &--bottom {
      position: absolute;
      padding: 0;
      bottom: 50px;
      left: 15px;
      right: 15px;
    }

    &--full-size {
      z-index: 1;
      @media (max-width: $screen-xs-max) {
        position: relative;
        bottom: auto;
        left: 0;
        right: 0;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    &--card {
      margin-left: 50%;
      padding-left: 54px;
      padding-top: 46px;
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        margin-left: 45%;
      }
      @media (min-width: $screen-lg-min) {
        margin-left: 47%;
      }
      @media (min-width: 1330px) {
        margin-left: 50%;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-left: 37%;
      }
      @media (max-width: $screen-md-max) {
        padding-left: 24px;
      }
      @media (max-width: $screen-sm-max) {
        padding-top: 32px;
      }
      @media (max-width: $screen-xs-max) {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 24px;
        padding-bottom: 14px;
      }
    }
  }
  &__list {
    font-size: 19px;

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }

    .ico {
      margin-right: 6px;

      @media (max-width: $screen-xs-max) {
        height: 28px;
        width: 28px;
        line-height: 28px;
        background-size: cover;
      }
    }
    li {
      list-style: none;
    }
    li + li {
      margin-top: 5px;
    }
    &.list-inline li {
      padding-right: 0;
      padding-left: 0;

      + li {
        margin-left: 5px;
        margin-top: 0;
      }
    }
    &--bottom {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      padding-left: inherit;
      padding-right: inherit;
    }
    &--full-size {
      font-size: 22px;

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 8px;
        margin-left: -10px;
        margin-bottom: 0;
      }
      &.list-inline li {
        + li {
          margin-left: 10px;
        }
        @media (max-width: $screen-xs-max) {
          margin-left: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .btn {
        @media (max-width: $screen-sm-max) {
          font-size: 12px;
          line-height: 1.167;
        }
        @media (max-width: $screen-xs-max) {
          //margin-top: 10px;
        }
      }
    }
    &--card {
      font-size: 22px;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
      @media (max-width: $screen-md-max) {
        font-size: 20px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 16px;
        margin-top: 14px !important;
        margin-bottom: 15px !important;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 12px;
      }
      li {
        margin-left: 3px;
        margin-right: 3px;

        @media (max-width: $screen-xs-max) {
          margin-left: 2px;
          margin-right: 2px;
        }
      }
      li + li {
        margin-left: 3px;
        @media (max-width: $screen-xs-max) {
          margin-left: 2px;
        }
      }
      .ico {
        @media (max-width: $screen-md-max) {
          width: 34px;
          height: 34px;
          line-height: 34px;
          background-size: cover;
        }
        @media (max-width: $screen-sm-max) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
        @media (max-width: $screen-xs-max) {
          width: 22px;
          height: 22px;
          line-height: 22px;
          margin-right: 2px;
        }
      }
    }
    &--double {
      li {
        @media (min-width: $screen-sm-min) {
          display: inline-block;
        }
        + li {
          @media (min-width: $screen-sm-min) {

            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
  &--double {
    padding-top: 31.20567375886525%;

    @media (min-width: $screen-lg-min) and (max-width: 1400px) {
      padding-top: 210px;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 63.6144578313253%;
    }
  }
  &--full-size {
    padding-top: 630px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: $screen-sm-max) {
      padding-top: 540px;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 0px;
    }

    h3 {
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 0.714em;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
        margin-left: 0;
        right: 95px;
        position: absolute;
        padding-left: inherit;
        left: 0;
        bottom: 100%;
      }
    }
  }
  &--over {
    @media (min-width: $screen-sm-min) {
      height: 410px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &--card {
    background: #000000;
    margin-left:  auto;
    margin-right: auto;
    border: none;
    padding-top: 388px;
    margin-bottom: 28px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 738px;
      padding-top: 274px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      max-width: 962px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 1170px;
    }
    @media (min-width: 1330px) {
      max-width: 1300px;
    }
    @media (max-width: $screen-xs-max) {
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 0;
    }

    h3 {
      font-size: 30px;
      @media (max-width: $screen-sm-max) {
        font-size: 20px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        margin-left: 0;
      }

    }

    ul {
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }

  &__info {
    margin-bottom: 54px;
    font-family: $font-family-secondary;
    font-size: 30px;
    line-height: 1.333;
    font-weight: bold;
    @media (max-width: $screen-sm-max) {
      font-size: 20px;
      line-height: 1.400;
      margin-bottom: 32px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      line-height: 1.375;
      margin-bottom: 20px;
    }
  }
  &__controls {
    @media (max-width: $screen-xs-max) {
      @include clearfix();
      position: relative;
    }
    .btn {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        font-size: 14px;
        font-weight: normal;

      }
    }
    .btn-default {
      background-color: #515151;
      border-color: #515151;

      &:hover {
        border-color: #ffffff;
      }
    }
    &-item {
      display: table-cell;
      vertical-align: middle;
      @media (max-width: $screen-xs-max) {
        width: 50%;
        display: block;
        float: left;
      }
      & + & {
        padding-left: 22px;
        @media (max-width: $screen-xs-max) {
          padding-left: 0;
          padding-right: 12px;
        }
      }
      & + & + & {
        @media (max-width: $screen-xs-max) {
          padding-left: 12px;
          padding-right: 0;
        }
      }

      &--price {
        white-space: nowrap;
        font-size: 35px;
        font-family: $font-family-secondary;
        @media (max-width: $screen-sm-max) {
          font-size: 24px;
        }
        @media (max-width: $screen-xs-max) {
          position: absolute;
          right: 0px;
          width: auto;
          bottom: 100%;
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}