.schedule {
  margin-bottom: 30px;
  font-family: $font-family-secondary;
  font-size: $font-size-secondary;

  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-md-min) and (max-width: 1100px)  {
    max-width: 960px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    width: 738px;
  }

  .btn-default {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    width: 78px;
    font-size: 15px;
    line-height: 26px;
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $screen-md-min) and (max-width: 1100px)  {
      margin-left: 6px;
      margin-right: 6px;
    }
    @media (max-width: $screen-sm-max){
      width: 68px;
    }
  }

  &__caption {
    color: #979797;
    margin-bottom: 20px;
    margin-top: 22px;
    @media (max-width: $screen-sm-max) {
      display: inline-block;
      margin-bottom: 16px;
      margin-top: 0px;
      font-size: 12px;
      margin-left: 12px;
    }
    @media (max-width: $screen-xs-max){
      display: block;
      margin-left: 0;
    }
  }

  &__row {
    margin-left: -6px;
    margin-right: -6px;

    @media (min-width: $screen-md-min) and (max-width: 1100px)  {
      margin-left: -8px;
      margin-right: -8px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-left: -9px;
      margin-right: -9px;
    }
    @media (max-width: $screen-xs-max){
      width: 756px;

      &-wrap {
        overflow: hidden;
      }
      &-inner {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 20px;
        margin-bottom: -20px;
        -webkit-overflow-scrolling: touch;
      }
    }
    &--wide {
      @media (max-width: $screen-xs-max) {
        width: 792px;
        margin-left: -4px;
        margin-right: -4px;
      }
    }
  }

  &__group {
    display: table-cell;
    color: $state-danger-text;
    vertical-align: top;

    &-price {
      clear: both;
      text-align: center;
      overflow: hidden;
      margin: 0 8px;
      position: relative;
      padding: 15px 0;
      @media (max-width: $screen-xs-max){
        padding: 10px 0;
        padding-bottom: 12px;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 6px;
        width: 2px;
        background-color: $state-danger-text;
        top: 16px;

        @media (max-width: $screen-xs-max){
          display: block;
          top: 12px;
        }
      }
      &:before {
       left: 0;
      }
      &:after {
        right: 0;
      }

      &-inner {
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          height: 2px;
          background-color: $state-danger-text;
          width: 1000px;
          top: 7px;
        }
        &:before {
          right: 100%;
          margin-right: 6px;
        }
        &:after {
          left: 100%;
          margin-left: 6px;
        }
      }
    }
  }

  &__date {
    font-size: 58px;
    color: $brand-warning;
    margin-bottom: 10px;
    margin-top: 42px;

    @media (max-width: $screen-sm-max) {
      font-size: 40px;
      margin-bottom: 4px;
      margin-top: 6px;
    }
  }
  &__week {
    color: #979797;
    font-size: 22px;
    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      display: inline-block;
    }
  }
  &__title {
    font-size: 20px;
    color: #fff;

    @media (min-width: $screen-md-min) {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @media (min-width: $screen-md-min) {
      display: table-cell;
      height: 132px;
      vertical-align: middle;
      width: 1%;
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
    }
  }


  &--wide {
    margin-bottom: 0;

    @media (min-width: $screen-lg-min) {
      max-width: 1346px;
    }
    @media (min-width: $screen-lg-min) and (max-width: 1380px)  {
      max-width: 1170px;
    }
    @media (max-width: $screen-md-max) {
      max-width: 960px;
    }


    .btn-default {
      @media (max-width: $screen-md-max) {
        width: 58px;
        margin-left: 4px;
        margin-right: 4px;
      }
      @media (min-width: $screen-lg-min) and (max-width: 1380px)  {
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 12px;
        width: 51px;
        margin-left: 6px;
        margin-right: 6px;
        line-height: 14px;
      }
    }
  }
}
