.page-footer {
  border-top: 20px solid $brand-warning;
  background-color: $gray-base;
  padding-bottom: 28px;
  font-family: $font-family-secondary;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;

  @media (min-width: $screen-md-min) {
    padding-bottom: 42px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    border-width: 22px;
  }
  &__bg {
    height: 70px;
    background: url("/img/footer-bg-xs.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 22px;

    @include retina {
      background-image: url("/img/footer-bg-xs@2x.jpg");
    }

    @media (min-width: $screen-sm-min) {
      background-image: url("/img/footer-bg-sm.jpg");
      margin-bottom: 16px;
      height: 90px;

      @include retina {
        background-image: url("/img/footer-bg-sm@2x.jpg");
      }
    }
    @media (min-width: $screen-md-min) {
      background-image: url("/img/footer-bg-lg.jpg");
      height: 100px;
      margin-bottom: 28px;

      @include retina {
        background-image: url("/img/footer-bg-lg@2x.jpg");
      }
    }
  }
  &__copyright {
    line-height: 22px;
    color: #969696;
    padding-top: 8px;

    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 10px;
    }
    .h4 {
      color: #fff;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        margin-bottom: 13px;
      }
      @media (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }
  &__links {
    text-align: center;

    @media (min-width: $screen-md-min) {
      text-align: right;
      padding-top: 24px;
    }

    .btn {
      min-width: 115px;

      @media (min-width: $screen-sm-min) {
        min-width: 130px;
      }
      @media (min-width: $screen-md-min) {
        min-width: 140px;
      }

      @media (min-width: $screen-lg-min) {
        min-width: 150px;
      }
    }
    .btn + .btn {
      margin-left: 8px;
    }
  }

  &__payments {
    color: #969696;
    margin-top: 30px;

    i + i {
      margin-left: 6px;

    }
  }
}