.page-header {
  padding: 0;
  margin: 0;
  border: none;
  font-family: $font-family-secondary;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  position: relative;
  height: 90px;

  @media (max-width: $screen-sm-max) {
    height: 65px;
  }
  @media (max-width: $screen-xs-max) {
    height: 58px;
  }

  .navbar {
    height: 90px;
    margin-bottom: 0;
    @media (max-width: $screen-sm-max) {
      height: 65px;
    }
    @media (max-width: $screen-xs-max) {
      height: 58px;
    }

    &-default {
      background-color: #000000;
      border: none;
    }

    &-brand {
      height: 90px;
      padding-top: 8px;
      padding-bottom: 12px;
      display: table-cell;
      vertical-align: middle;
      float: none;
      position: relative;

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
        width: 200px;
      }
      @media (max-width: $screen-sm-max) {
        position: absolute;
        top: 100%;
        width: 240px;
        margin-top: -5px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 2px;
      }

      img[src$="--glow.png"] {
        position: absolute;
        top: 0;
        padding: inherit;
        left: 0;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
          top: 9px;
        }
      }
      &:hover img[src$="--glow.png"] {
        opacity: 1;
      }
    }
  }

  .nav {
    display: inline-block;
    vertical-align: baseline;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
    text-transform: uppercase;
    font-size: 12px;

    @media (max-width: $screen-sm-max) {
      margin-right: 0px;
      margin-left: 0px;
    }

    &-wrap {
      display: table-cell;
      width: 1%;
      height: 90px;
      vertical-align: middle;

      @media (min-width: $screen-md-min) {
        text-align: center;
      }
      @media (max-width: $screen-sm-max) {
        height: 65px;
      }
      @media (max-width: $screen-xs-max) {
        text-align: center;
        display: block;
        width: auto;
        margin-top: 16px;
        margin-left: -15px;
        margin-right: -15px;
        height: auto;
      }
    }

    &-pills {
      a {
        display:inline-block;
        padding: 0;
        color: #fff;
        position: relative;

        &:hover,
        &:focus {
          background: none;
        }
        &:after {
          content: '';
          width: 0%;
          height: 1px;
          top: 100%;
          left: 0;
          position: absolute;
          background-color: $state-danger-text;
          transition: width 0.25s ease-in-out;
        }
        &:hover:after,
        &.active:after {
          width: 100%;
        }
      }

      li {
        float: none;
        display: inline-block;
        list-style: none;
      }

      li + li {
        margin-left: 5px;
        margin-top: 0;
      }

      .ico {
        position: relative;

        &.ico-corporatives {
          top: -2px;
        }
        @media (max-width: $screen-xs-max) {
          width: 26px;
          height: 26px;
          line-height: 26px;
          background-size: cover;
        }
      }
      &--secondary {
        font-weight: normal;

        .ico {
          @media (max-width: $screen-xs-max) {
            width: 16px;
            height: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .dropdown {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 30px;

    @media (max-width: $screen-sm-max) {
      margin-right: 24px;
      margin-left: 30px;
    }

    &-toggle {
      font-size: 12px;
      cursor: pointer;
      color: #fff;
      white-space: nowrap;

      .caret {
        top: -2px;
      }

      .ico {
        margin-right: 8px;

        &--large {
          @media (max-width: $screen-sm-max) {
            width: 28px;
            height: 28px;
            line-height: 28px;
            background-size: cover;
          }
        }
      }

      .btn-warning {
        @media (max-width: $screen-sm-max) {
          min-width: 114px;
        }
      }
    }

    &-menu {
      &-right {
        margin-right: -7px;
        margin-top: 28px;
      }
      .ico {
        margin-right: 8px;
      }
    }
  }

  &__social {
    position: absolute;
    top: 100%;
    right: 15px;
    margin-top: 15px;

    a + a {
      margin-left: 14px;
    }
  }

  &__info {
    margin-top: 22px;
    @media (max-width: $screen-sm-max) {
      margin-top: 12px;
    }

    .btn {
      min-width: 120px;

      @media (max-width: $screen-sm-max) {
        min-width: 105px;
      }
    }
  }

  &__nav {
    display: inline-block;

    @media (max-width: $screen-xs-max) {
      position: absolute;
      right: 15px;
      top:100%;
      margin-top: 12px;
    }


    .btn {
      @media (max-width: $screen-xs-max) {
        width: 56px;
        min-width: 0;
        padding: 10px;
        background-color: #000000;
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.88);
    transform: translateY(-100%);
    transition: transform .25s ease-in-out;
    overflow: auto;

    &--active {
      transform: translateY(0%);
    }
    &-trigger {
      position: absolute;
      top: 12px;
      right: 10px;
      cursor: pointer;
      z-index: 1;
    }

    .dropdown {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 80px;
      .ico {
        width: 34px;
        height: 34px;
        line-height: 34px;
      }
    }
    .btn {
      min-width: 130px;
    }
    .nav-pills {
      margin-top: 30px;
      display: block;

      li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;

        + li {
          margin-left: 0;
          margin-top: 4px;
          margin-left: auto;
        }
      }
      .ico {
        width: 34px;
        height: 34px;
        line-height: 34px;
        margin-right: 8px;
      }

      &--secondary {
        margin-top: 16px;

        li + li {
          margin-top: 19px;
        }
        .ico {
          width: 16px;
          height: 16px;
          line-height: 16px;
          margin-right: 18px;
          margin-left: 8px;
        }
      }
    }
  }
}