html {
  height: 100%;
}


body {
  min-height: 100%;
  background: url("/img/main-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.page-main {
  margin-top: 32px;
  margin-bottom: 112px;

  @media (max-width: $screen-sm-max) {
    margin-top: 47px;
    margin-bottom: 35px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 64px;
    margin-bottom: 20px;
  }
  &--no-margin-top {
    margin-top: 0;
  }
  &--no-margin-bottom {
    margin-bottom: 0;
  }
}

.container-fluid {
  max-width: 1800px;
}