.personal-info {
  font-family: $font-family-secondary;
  @media (min-width: $screen-md-min) {
    font-size: 20px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }


  &__item  {
    margin-left: 18px;
    margin-right: 18px;
    @media (max-width: $screen-sm-max) {
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (max-width: $screen-xs-max) {
      margin-left: 5px;
      margin-right: 5px;
    }

    &:first-child {
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
    & + & {
      margin-top: 0;
      @media (max-width: $screen-xs-max) {
        margin-top: 10px;
      }
    }
    a {
      color: #FFFFFF;
      text-decoration: none;
    }
    .small {
      font-size: 0.583em;
    }
  }

  &__name {
    margin-left: 22px;
    margin-right: 32px;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }
  &__avatar {
    @media (max-width: $screen-xs-max) {
      display: block;
      margin-bottom: 10px;
    }
  }
}