.press-list {
  margin-top: 1.458em;

  h3 {
    margin-top: 0.536em;
    margin-bottom: 0.286em;
    font-size: 1.167em;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 0;
    }
  }

  p {
    line-height: 1.333;
  }

  &__item + &__item {
    margin-top: 0.583em;
  }
}