.quest-list {
  background-color: #343434;
  &__title {
    color: #fff;
    background-color: #000;
    border-bottom: 20px solid #ffdf43;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;

    &:after {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      padding-top: 17px;
      padding-bottom: 19px;
      border-width: 22px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      padding-top: 9px;
      padding-bottom: 9px;
      border-width: 20px;
    }

    .ico {
      width: 48px;
      height: 48px;
      line-height: 48px;
      background-size: cover;
      margin-right: 12px;


      @media (max-width: $screen-sm-max) {
        width: 34px;
        height: 34px;
        line-height: 34px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
      }
    }
  }
  .container-fluid {
    margin-top: -8px;
    margin-bottom: -8px;
    @media (max-width: $screen-sm-max) {
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
  }
  .row {
    @media (max-width: $screen-sm-max) {
      margin-left: -8px;
      margin-right: -8px;
    }
    @media (min-width: $screen-md-min) {
      margin-left: -7px;
      margin-right: -7px;
    }
  }
  [class*=col-] {
    padding-left: 8px;
    padding-right: 8px;
  }
}