.quest-description {
  position: relative;
  padding-bottom: 28px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 23px;
  }

  &:after {
    content: '';
    position: absolute;
    background: url("/img/icons/triangle_large.png") no-repeat;
    height: 44px;
    width: 44px;
    left: 50%;
    margin-left: -22px;
    bottom: 5px;

    @media (max-width: $screen-sm-max) {
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
    color: #fff;
    margin-top: -14px;
    padding-top: 0;
    padding-bottom: 18px;


    @media (max-width: $screen-sm-max) {
      margin-bottom: 7px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: -68px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 32px;
    }

    h2 {
      @media (max-width: $screen-sm-max) {
        font-size: 26px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 15px;
        font-size: 18px;
      }
    }
    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 24px;
      line-height: 31px;
      font-weight: normal;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    .col-sm-offset-3 {
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-left: 29.1666667%;
      }

    }
  }

  &__condition {
    margin-top: 20px;
    font-family: $font-family-secondary;
    font-size: $font-size-secondary;
    line-height: $line-height-secondary;

    @media (max-width: $screen-sm-max) {
      line-height: 30px;
      margin-top: 0;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &--full {
    .jumbotron {
      margin-top: 6px;
      @media (max-width: $screen-sm-max) {
        margin-top: 14px;
      }
    }
  }
}


